@font-face {
    font-family: 'museo_slab';
    src: url('fonts/Museo_Slab_500italic-webfont.eot');
    src: url('fonts/Museo_Slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo_Slab_500italic-webfont.woff2') format('woff2'),
         url('fonts/Museo_Slab_500italic-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500italic-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500italic-webfont.svg#museo_slab500_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'museo_slab';
    src: url('fonts/Museo_Slab_500-webfont.eot');
    src: url('fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo_Slab_500-webfont.woff2') format('woff2'),
         url('fonts/Museo_Slab_500-webfont.woff') format('woff'),
         url('fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
         url('fonts/Museo_Slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans';
    src: url('fonts/MuseoSans_500italic-webfont.eot');
    src: url('fonts/MuseoSans_500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans_500italic-webfont.woff2') format('woff2'),
         url('fonts/MuseoSans_500italic-webfont.woff') format('woff'),
         url('fonts/MuseoSans_500italic-webfont.ttf') format('truetype'),
         url('fonts/MuseoSans_500italic-webfont.svg#museo_sans500_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'museo_sans';
    src: url('fonts/MuseoSans_500-webfont.eot');
    src: url('fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
        margin: 0;
        padding: 0;
}

body {
  margin: 2em auto 2em auto;
  width: 80%;
  font-family: "PT Sans", sans-serif;
}

h1#title {
  font-family: 'museo_slab';
  font-size: 3em;
  font-weight: normal;
}

nav {
  margin-bottom: 2em;
}
nav a {
  white-space: nowrap;
}

h2 {
    font-size: 2em;
    margin-bottom:0.2em;
}
h3 {
    font-size: 1.43em;
}
h5 {
  font-style: italic;
  font-size: 0.85em;
}
h2, h3, h4, h5, h6 {
  font-weight: normal;
}
right {
    float: right;
    font-size: 0.75em;
}

hr {
    margin: 2em 0 0.5em 0;
}

a {
  color: #3A0DA6;
}

ul {
  padding-left: 25px;
}

#contact td > a {
  text-decoration: none;
}

.third {
  width: 100%;
}
.third td {
  width: 33%;
}

 .columnar {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    white-space: nowrap;
  }

.refspan {
  position: relative;
  display: inline-block;
}

.refspan > ref { /*to avoid line spacing issues with font-size*/
  font-size: 1.2em;
 position: absolute; 
 bottom: -0.3em;
}

@media (max-width: 620px) {
  .third td {
    width: 100%;
    display: block;
    margin: 0.8em 0 0.8em 0;
  }
}

@media (max-width: 540px) {
  .columnar {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 540px) and (max-width: 800px) {
  .columnar {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}